.header {
    text-align: left;
}

.ingredient:nth-child(2n + 1) {
    margin-right: 24px;
}

.ingredientsContainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -32px;
}

.secContainer {
    min-width: 584px;
}