.App {
  background-color: #131316;
  color: white;
  min-height: 100vh;
  text-align: center;
}

.flexContainerJcCenter {
  display: flex;
  justify-content: center;
}

.flexContainerJcCenter > main {
  width: 600px;
}

p {
  margin: 0;
}