.autorizeBox {
  margin: 180px auto;
  width: 480px;
}

.autorizeBox a {
  color: #4C4CFF;
  text-decoration: none;
}

.inputWrapper > div,
.inputWrapper div.input,
.inputWrapper div.input input
{
  width: 100%;
}

.inputWrapper {
  padding-bottom: 24px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flexContainerJcCenter {
  display: flex;
  justify-content: center;
}

.flexContainerJcCenter > main {
  width: 600px;
}

li {  
  list-style: none;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}