.activeLink {
    color: #F2F2F3;
}

.sideMenu {
    position: absolute;
    text-align: left;
    width: 320px;
}

.sideMenuItem {
    padding: 17px 0;
}

.sideMenuLink {
    text-decoration: none;
}

.subComment {
    opacity: 0.4;
}