.alignedRight {
    display: flex;
    justify-content: end;
}

.header {
    background-color: #1C1C21;
    text-align: center;
}

.headerLink {
    align-items: center;
    display: inline-flex;
    text-decoration: none; 
}

.headerLink.active {
    color: #F2F2F3;
}

.headerLink.inactive {
    color: #8585AD;
}

.iconWrapper {
    display: inline-flex;
}

.innerNav {
    width: 383px;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1280px;
}
